.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #FFFAFA;
}
.navbar-default .navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    
}
body {
    background-color:#FFFAFA;
    color:#666;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
}
.section {
    margin-bottom: 50px;
}

.section_head {
    margin-bottom: 30px;
}

.item {
    border-top: 2px solid lightgrey;
    padding: 10px;
}

.small_image{
    width: 150px;
    height: 150px;
}

.side_border{
    border-left: 2px solid lightgrey;
}

.small_head{
    text-align: center;
    font-family: 'Indie Flower', serif;
}

footer{
    background-color: #FFFAFA;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color:#666;
    height: 30px;
    width: 100%;
    font-size:18px;
    font-weight: lighter;
    border-left: 0px;
    padding-bottom:0px;
    margin-left:0px;
}