.jumbotron {
    background-image: url("https://www.riotgames.com/darkroom/1440/0dffc174c72ce3dbaa23a8650557b624:79c68bf22b496b9ffdab7bcb34c930d1/dublin.jpg");
    background-position: left;
    height: 450px;
    
}
.jumbotext {
    margin-right: 185px;  
    color: #F8F8FF;
    padding-top: 290px;
    padding-left: 10px;
    font-family: 'Playfair Display', serif;
}
.row {
    padding-bottom: 40px;
}
footer {
    background-color: #FFFAFA;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    color:#666;
    margin-left: 60px;
    height: 50px;
    width: 100%;
}