.jumbotron {
    background-image: url("https://www.riotgames.com/darkroom/1440/0dffc174c72ce3dbaa23a8650557b624:79c68bf22b496b9ffdab7bcb34c930d1/dublin.jpg");
    background-position: left;
    height: 450px;
    
}
.jumbotext {
    margin-right: 200px;  
    color: #F8F8FF;
    font-family: 'Raleway', sans-serif;
    padding-top: 275px;
    padding-left: 10px;
}
.row {
    padding-bottom: 40px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #FFFAFA;
    /*color: #F8F8FF;*/
}
.navbar-default .navbar-brand {
    /*color: #FFFAFA;*/
    font-family: 'Indie Flower', cursive;
    font-size: 32px;
    
}
body {
    background-color:#FFFAFA;
    color:#666;
}