.jumbotron {
    background-image: url("https://gigibrazil.files.wordpress.com/2015/07/maxresdefault.jpg");
    background-position: left;
    height: 450px;
    
}
.jumbotext {
    margin-right: 185px;  
    color: #F8F8FF;
    padding-top: 290px;
    padding-left: 10px;
    font-family: 'Playfair Display', serif;
}
