.jumbotron {
    background-image: url("https://static1.squarespace.com/static/5350c8afe4b095a1b0b3574e/t/58295460725e259c855f6a22/1479103593725/");
    background-position: left;
    height: 450px;
    
}
.jumbotext {
    margin-right: 185px;  
    color: #F8F8FF;
    padding-top: 290px;
    padding-left: 10px;
    font-family: 'Playfair Display', serif;
}